streamlit
opencv-python-headless
easyocr
pillow
pytesseract
numpy
pandas
python-dateutil
dateparser==1.2.2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
plotly
streamlit-calendar
reportlab