--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.60.0

torch==2.5.1+cpu
torchvision==0.20.1+cpu
easyocr==1.7.2

opencv-python-headless==4.10.0.84
numpy==1.26.4
pillow==11.1.0
pytesseract==0.3.13

pandas==2.2.3
python-dateutil==2.9.0.post0
dateparser==1.2.1

plotly==5.24.1
streamlit-calendar==1.2.1
reportlab==4.2.5

google-api-python-client
google-auth-httplib2
google-auth-oauthlib